<h1>Bienvendio a nuestra home</h1>
<div class="dataDiv">
<p>
First name: {{user.first_name}}    
</p>
<p>
Last name: {{user.last_name}}
</p>
<p>
age: {{user.age}}
</p>
<p>
username: {{user.username}}
</p>
<p>
email: {{user.email}}
</p>
<p>
role: {{user.role}}
</p>
</div>


<button onclick="location.href='/api/views/cart'">Go to Cart</button>