<h1>Agrega un nuevo producto</h1>
<form id="formAddProduct">
    <br>
    Nombre del producto:
    <input type="text" name="productTitle" id="productTitle" >
    <br>
    Descripcion de producto:
    <input type="text" name="productDescription" id="productDescription" >
    <br>
    Precio del producto:
    <input type="number" name="productPrice" id="productPrice" >
    <br>
    Link de la imagen:
    <input type="text" name="productThumbnail" id="productThumbnail">
    <br>
    Codigo del producto:
    <input type="text" name="productCode" id="productCode">
    <br>
    Stock del producto:
    <input type="text" name="productStock" id="productStock">

    <input type="submit" value="agregar">  
</form>
<form id="formDeleteProduct">
    <input type="number" name="idProcutDeleted" id="idProductDeleted" placeholder="Id del producto">
    <input type="submit" value="ELIMINAR">
</form>

<h2>Vista en tiempo real de todos los productos</h2>

<div id="productsInRealTime">
    {{#each products}}
  <ul>
    <li>Titulo del producto: {{this.title}}</li>
    <li>Descripcion del producto: {{this.description}}</li>
    <li>Precio del producto: {{this.price}}</li>
    <li>Link de la imagen: {{this.thumbnail}}</li><!--en un futuro esto sera un img-->
    <li>Codigo del producto: {{this.code}}</li>
    <li>Stock del producto: {{this.stock}}</li> 
    <li>ID del producto creado: {{id}}</li> 
  </ul>
  {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socketClient = io();
</script>
<script src="../public/js/index.js"></script>